.section-search input{

    padding: 5px  !important ;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;



}

.card-panel{

    margin-top: 10%;
    margin-bottom: 10%;

}